<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="7.2.1" manuallyInstalled="true" />
  <package id="EPPlus.Interfaces" version="6.1.1" />
  <package id="EPPlus.System.Drawing" version="6.1.1" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Drawing.Common" version="4.7.3" />
  <package id="System.Formats.Asn1" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" />
  <package id="System.Security.Cryptography.Pkcs" version="8.0.0" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.0" />
</packages>